:root {
    --light-grey: #f5f5f5;
}

.bg-light-grey {
    background-color: var(--light-grey);
}

.header-section-title {
    font-size: smaller;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
}
